<div id="iconsNavbarThing">
    <a href="http://localhost:8091/?page=settings">
        <img class="homePageIconsIMGClass" id="homePageSettingsIconImage" src="http://localhost:8091/?type=data&dataType=img&image=settingsNeon.png&image_type=icons" alt="settings_icon" />
    </a>
    <a href="https://github.com/givikuna/PandaCrawler">
        <img class="homePageIconsIMGClass" id="pandaIconImage" src="http://localhost:8091/?type=data&dataType=img&image=panda@RANDOMPANDA.png&image_type=pandas" alt="panda_source" />
    </a>
</div>
