#homePageSettingsIconImage {
    height: 2%;
    width: 2%;
    padding-right: 10%;
}

#pandaIconImage {
    height: 2%;
    width: 2%;
    padding-right: 9%;
}

#iconsNavbarThing {
    text-align: right;
}
